$bp-large:62em;   /* 992px */
$bp-medium: 48em; /* 768px */
$bp-small: 36em;  /* 576px */
*{
    margin: 0;
    padding: 0;
}   

html{
    font-size: 62.5%;
}

a,
a:link,
a:visited{
    text-decoration: none;
}

ul{
    list-style: none;
}

header img{
    width: 112px;
}