// VARIABLES
$font-kaushan: 'kaushan Script', cursive;
$font-merri: 'Merriweather', serif;
$font-mont: 'Montserrat', sans-serif;
$font-roboto: 'Roboto Slab', serif;

.contenedor{
    //background-color: peru;
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
    @media only screen and (max-width:$bp-large){
        max-width: 72rem;
    }
    @media only screen and (max-width:$bp-medium){
        max-width: 54rem;
    }
}

.block{
    border: 1px solid #fec503;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
}

.titulo-n2{
    font-family: $font-mont;
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
    @media only screen and (max-width:$bp-small){
        font-size: 2rem;
    }
}

.estilo{
    cursor: pointer;
    font-size: 4rem;
}
.mb-2{
    margin-bottom: 2rem;
}
.mb-7{
    margin-bottom: 7rem;
}
.pl-1{
    padding-left: 3.5rem;
}
.pb-1{
    padding-bottom: 1.5rem;
}
.pb-5{
    padding-bottom: 5rem;
}
.pb-10{
    padding-bottom: 10rem;
}
.pt-1{
    padding-top: 1rem;
}
.pt-2{
    padding-top: 2rem;
}
.pt-5{
    padding-top: 5rem;
}
.pt-10{
    padding-top: 10rem;
}
.mt-5 {
    margin-top: 5rem;
}
.ff-1{
    font-family: $font-mont;
}
.fw{
    font-weight: bold;
}
.color-black{
    color: black;
}
.color-white{
    color: white;
}
.resumen-n2{
    font-family: $font-merri;
    font-size: 1.6rem;
    color: #6c757d;
    text-align: center;
    font-style: italic;
}
.resumen-n3{
    font-family: $font-roboto;
    font-size: 1.6rem;
    color: #6c757d;
    // text-align: center;
    line-height: 2.8rem;
}
.text-italic{
    font-style: italic;
}
.text-center{
    text-align: center;
}
.height-100 {
    height: 100%;
}
.btn-amarillo {
    color: white;
    background-color: #fed136;
    transition: all 0.3s;
}
.btn {
    font-family: "Montserrat", sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 2rem 4rem;
    text-transform: uppercase;
    border-radius: 0.5rem;
    display: inline-block;
    border: none;
    cursor: pointer;
}
 .logo{
    color: #fec503;
    font-family: $font-kaushan;
    font-size: 2.8rem;
    padding-left: 1rem;
    display: inline-block;
    @media only screen and (max-width:$bp-large) {
        font-size: 3.5rem;
    }
} 