.certificados{
    &__contenedor{
        &__caja{
            width: 38rem;
            height: 32rem;
            border: 1px solid #fec503;
            margin: 0 auto;
            @media only screen and (max-width:$bp-large) {
                width: 80%;
                height: 23rem;
            }
            &--imagen {
                margin: 1.5rem 0.5rem;
                //margin: 2.5rem 3rem;
                //border: 0.1rem solid black;
                ul, li {
                    
                    margin: auto;
                    list-style: none;
                }
                
                ul.slider{
                  position: relative;
                  //width: 19.3rem;
                  //height: 18.7rem;
                  @media only screen and (max-width:$bp-large){
                      width: 91%;
                      height: 21rem;
                  }
                }
                
                ul.slider li {
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    opacity: 0;
                    transition: opacity .5s;
                    background:#fff;
                }
                
                ul.slider li img{
                  object-fit: cover;
                }
                
                ul.slider li:first-child {
                    opacity: 1; /*Mostramos el primer <li>*/
                }
                
                ul.slider li:target {
                    opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
                }
                .menu{
                    text-align: center;
                    margin-top: 12rem;
                    //margin: 20px;
                    @media only screen and (max-width:$bp-large) {
                        margin-top: -14rem;
                    }
                  }
                  
                  .menu li{
                    display: inline-block;
                    text-align: center;
                  }
                  
                  .menu li a{
                    display: inline-block;
                    color: white;
                    text-decoration: none;
                    background-color: grey;
                    padding: 10px;
                    width: 20px;
                    height: 20px;
                    font-size: 20px;
                    border-radius: 100%;
                  }
            }
            &--imagen img{
                width: 23.2vw;
                height: auto;
                @media only screen and (max-width:$bp-large) {
                    width: 40vw;
                    margin: 1rem 10rem;
                }
                @media only screen and (max-width:$bp-medium) {
                    width: 50vw;
                    margin: 0 4rem;
                }
                @media only screen and (max-width:$bp-small) {
                    width: 67vw;
                    margin: 0 1.5rem;
                }
            }
            &--nombre {
                font-size: 1.5rem;
                text-align: center;
                text-transform: uppercase;
            }
        }
    }
}