.contacto{
    background-color: #212529;
    background-image: url(../img/map-image.png);
    background-size: cover;
    background-position: center;
    &__contenedor{
        &__form{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            &__col{
                width: calc(50% - 1.5rem);
                &--formGroup{
                    &:not(:last-child){
                        margin-bottom: 2rem;
                    }
                    input, textarea{
                        width: 100%;
                        font-size: 1.6rem;
                        padding: 2rem;
                        box-sizing: border-box;
                        font-family: "Roboto Slab", serif;
                        border-radius: 0.5rem;
                        border: none;
                        outline: 0;
                    }
                    .caja_texto:focus{
                        border: 2px solid #1277dd;
                    }
                    &:focus:required {
                        border-color: red;
                        outline: 0 none;
                      }
                }
            }
            &--btnBox{
                width: 100%;
            }
        }   
        #trucazo{
            opacity: 0;
        }
    }
}