.footer{
    &__contenido{
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-between;
        &--logo img{
            display: block;
            height: 6rem;
        }
        &--copyright{
            font-size: 1.2rem;
            padding-top: 2rem;
        }
        &__redes{
            display: flex;
            justify-content: space-between;
            width: 16rem;
            &--facebook{
                color: #3b5998;
            }
            &--telegram{
                color: #00BBCC;
            }
            &--twitter{
                color: #00acee;
            }
        }
    }
}