.footer{
    &__contenido{
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-between;
        &--copyright{
            font-size: 1.2rem;
            padding-top: 2rem;
        }
        &__redes{
            text-align: center;
            margin-top: 1rem;
            a{
                display: inline-block;
                &:not(:last-child){
                    margin-right: 2rem;
                }

            }
            i{
                // color: #3b5998;
                // color: #00BBCC;
                // color: #00acee;
                font-size: 1.5rem;
                width: 4rem;
                height: 4rem;
                background-color: black;
                color: white;
                border-radius: 50%;
                align-items: center;
                display: flex;
                justify-content: center;
            }

        }
    }
}